[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "refuginator"]
	path = refuginator
	url = https://github.com/nathanielmorley2000/refuginator
